PORT=5000
MONGODB_URI=mongodb+srv://devctme_db_user:F9wiL6CbMIXibERg@cluster0.rjkf8mz.mongodb.net/
JWT_SECRET=your_super_secret_key_change_this
JWT_EXPIRE=15m
JWT_REFRESH_SECRET=your_refresh_secret_key_change_this
JWT_REFRESH_EXPIRE=7d
NODE_ENV=development

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=dgrmwg4cx
CLOUDINARY_API_KEY=248875183721138
CLOUDINARY_API_SECRET=Uwk8Elb2onNZiSoJcyyU53jwel8

# SSLCommerz Payment Gateway
SSLCOMMERZ_STORE_ID=your_store_id
SSLCOMMERZ_STORE_PASSWORD=your_store_password
SSLCOMMERZ_IS_LIVE=false
API_URL=http://localhost:5000